{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for each in feed.channel.item %}
                <div class="col-sm-4 col-xs-12">
                    <div class="card">
                        <img class="card-img-top"
                             src="http://rlv.zcache.com/hello_yes_this_is_doge_square_sticker-r84bf56a39da94e449adc2de61f3ebd2b_v9wf3_8byvr_512.jpg"
                             alt="Doge">
                        <div class="card-body">
                            <h4 class="card-title">{{ each.title }}</h4>
                            <p class="card-text">{{ each.description }}</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-remote="{{ each.link }}" data-target="#exampleModal">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
